In [1]:
# the original version
import random

in_file = open('./DATA_MI.txt','r')
out_file = open('./DATA_MI_cost.txt','w')

line = in_file.readline()
while line:
    data = line.split(' ')
    if len(data) == 4 :# means this line is a road statement
        road_length = float(data[2])
        road_length = road_length * 10000
        data[2] = str(road_length)
    else:   # means this line is a point statement
        point_set = []
        for i in range(0,len(data)-1,2):
            distance = float(data[i+1])
            distance = distance * 10000
            data[i+1] = str(distance)
            point=[data[i],data[i+1],str(random.randint(10,90))]
            point_set.extend(point)
        data = point_set
        data.extend('\n')
    line = ' '.join(data)
    out_file.write(line)
    line = in_file.readline()

in_file.close()
out_file.close()

In [2]:
# updated version 2019/07/29
# assign cost for each poi
import random

in_file = open('./DATA_MI.txt','r')
out_file = open('./DATA_MI_cost.txt','w')
point_count = 0
road_count = 0
is_road = True
poi_num = 0

line = in_file.readline()
while line:
    data = line.split(' ')
    
    if len(data) <= 1:
        line  = in_file.readline()
        continue   # skip blank lines
    if is_road:
        road_count += 1
        poi_num = int(data[3].strip())
        if poi_num == 0:
            is_road = True # next line is still road
        else:
            is_road = False # next line is point description
    else:   # means this line is a point statement
        point_set = []
        for i in range(0,len(data)-1,2):
            point_count += 1
            point=[data[i],data[i+1],str(random.randint(10,90))]
            point_set.extend(point)
        data = point_set
        data.extend('\n')
        is_road = True # next line is road
    line = ' '.join(data)
    out_file.write(line)
    line = in_file.readline()

in_file.close()
out_file.close()
print('random poi cost append done. there are %d pois and %d roads.' % (point_count,road_count))

random poi cost append done. there are 22 pois and 595726 roads.

In [2]:
# updated version 2020/09/14
# assign cost for each poi with rating from foursquare dataset

foursquare_file=open('./foursuqareRating.txt','r')
in_file = open('./DATA_MI.txt','r')
out_file = open('./DATA_MI_cost.txt','w')
point_count = 0
road_count = 0
is_road = True
poi_num = 0

# obtain rating data from file
foursquare_file_content=foursquare_file.read()
rating_list=foursquare_file_content.split()
total_rating_count=len(rating_list)
print('the number of rating in foursquare file is:',total_rating_count)
rating_p=0

line = in_file.readline()
while line:
    data = line.split(' ')
    
    if len(data) <= 1:
        line  = in_file.readline()
        continue   # skip blank lines
    if is_road:
        road_count += 1
        poi_num = int(data[3].strip())
        data[2]=str(float(data[2])*1000)
        if poi_num == 0:
            is_road = True # next line is still road
        else:
            is_road = False # next line is point description
    else:   # means this line is a point statement
        point_set = []
        for i in range(0,len(data)-1,2):
            point_count += 1
            distance=float(data[i+1])
            distance*=1000
            point=[data[i],str(distance),rating_list[rating_p%total_rating_count]]
            rating_p+=1
            point_set.extend(point)
        data = point_set
        data.extend('\n')
        is_road = True # next line is road
    line = ' '.join(data)
    out_file.write(line)
    line = in_file.readline()

in_file.close()
out_file.close()
foursquare_file.close()
print('poi cost assigning done. there are %d pois and %d roads.' % (point_count,road_count))

the number of rating in foursquare file is: 84291
poi cost assigning done. there are 22 pois and 595726 roads.

In [3]:
len(total_points)

87635

In [2]:
#sampled version
"""
分成road statement 和 point statement两部分
road statement包含起止结点和道路长度，是不需要修改的
point statement包含若干个POI以及距离起始节点的距离，将提取出POI并进行采样
"""
import random
import pandas as pd
import numpy as np

in_file = open('./calmap.txt','r')
rate = 0.5
out_file = open('./calmap_cost_'+str(int(rate * 100))+'.txt','w')

total_points=[]
road_statements=[]
line = in_file.readline()
start_node = 0
end_node = 0
while line:
    data = line.split(' ')
    if len(data) == 4 :# means this line is a road statement
        road_length = float(data[2])
        road_length = road_length * 1000
        data[2] = str(road_length)
        start_node = data[0]
        end_node = data[1]
        road_statements.append(data)
    else:   # means this line is a point statement
        point_set = []
        for i in range(0,len(data)-1,2):
            distance = float(data[i+1])
            distance = distance * 1000
            data[i+1] = str(distance)
            category_ID_point = data[i] 
            point=[start_node,end_node,category_ID_point,data[i+1],str(random.randint(10,90))]
            total_points.append(point)
    line = in_file.readline()
print("read file done.")

df = pd.DataFrame(total_points,columns=['start_node','end_node','category_id','distance','cost'])
df_sampled=df.sample(frac=rate,random_state=1)
length = len(df_sampled.category_id.value_counts())
old = df_sampled.category_id.value_counts().index
new = [str(x) for x in range(length)]
df_sampled["category_id"].replace(dict(zip(old,new)),inplace = True)

print("sample done.new map contains ",length," categories.")

#write into file
for line in road_statements:
    point_num = int(line[3].strip())
    if point_num == 0:
        string_to_write = ' '.join(line)
        out_file.write(string_to_write)
        continue
    df_query =  df_sampled[(df_sampled.start_node == line[0]) & (df_sampled.end_node == line[1])]
    df_list = np.array(df_query).tolist()
    if len(df_list) == 0:
        line[3]='0\n'
        string_to_write = ' '.join(line)
        out_file.write(string_to_write)
        continue
    point_statement=''
    for item in df_list:
        item = item[2:5]
        tmp = ' '.join(item)+' '
        point_statement+= tmp
    point_statement+='\n'
    
    line[3]=str(len(df_list))+'\n'
    out_file.write(' '.join(line))
    out_file.write(point_statement)
print('write to file done.')
in_file.close()
out_file.close()

read file done.
sample done.new map contains  61  categories.
write to file done.

In [54]:
#playground
df_sampled

      start_node end_node category_id             distance cost
22610       6478     6479          16   19.690800000000003   79
14139       4666     4667          25              3.22153   84
23502       6654     6655           4   21.610999999999997   28
79024      18761    18762          12              11.2303   54
73240      17784    17785           0              13.3008   58
...          ...      ...         ...                  ...  ...
84609      20340    20356           1              10.2166   60
34820       8426     8427           0  0.10045200000000001   63
38468       8876     8882           0   16.371299999999998   36
18061       5550     5551          21              1.82124   86
43479       9881    10091           3              40.6618   27

[219 rows x 5 columns]

## check

In [4]:
in_file = open('./cal/calmap_cost_reduced_01.txt','r')
#out_file = open('./cal/calmap_cost_reduced_01.txt','w')

total_points=[]
road_statements=[]
line = in_file.readline()
start_node = 0
end_node = 0
while line:
    data = line.split(' ')
    if len(data) == 4 :# means this line is a road statement
        road_length = float(data[2])
        road_length = road_length * 1000
        data[2] = str(road_length)
        start_node = data[0]
        end_node = data[1]
        road_statements.append(data)
    else:   # means this line is a point statement
        point_set = []
        for i in range(0,len(data)-1,2):
            distance = float(data[i+1])
            distance = distance * 1000
            data[i+1] = str(distance)
            point=[start_node,end_node,data[i],data[i+1],str(random.randint(10,90))]
            total_points.append(point)
    line = in_file.readline()
    
df = pd.DataFrame(total_points,columns=['start_node','end_node','category_id','distance','cost'])

In [5]:
df

     start_node end_node category_id            distance cost
0             3        4          48             9718.51   22
1             9       10          44   7762.630000000001   41
2             9       36          38             2723.77   85
3             9       36        8555             373.468   25
4            11       12          53             4584.82   13
5            11       12        1660             2505.53   43
6            17       18          36   7832.650000000001   44
7            18       19          54  7036.4800000000005   14
8            28       29          21             20654.9   21
9            33       34          54             24375.1   59
10           35       36          54             20542.3   43
11           35       36        4054             35482.5   21
12           35       36        3953             15166.6   57
13           37       38          53             9236.02   53
14           38       39          38             6788.88   83
15           57       58          60  13501.300000000001   31
16           59       60          55             13896.9   67
17           59      816          36             1762.09   36
18           59      816        6950   5202.849999999999   63
19           59      816        5538             15208.9   37
20           60       61          38   7042.900000000001   12
21           60       61        3854             29085.5   19
22           60       61        1938  26319.399999999998   12
23           60       61        8054             29573.6   16
24           60       61         700             13398.2   80
25           61       62          50  3849.4599999999996   70
26           61       62        3538             35.9127   66
27           62       63          36             8539.18   76
28           64       65          53             10277.5   51
29           64       65        3036  13245.099999999999   52
...         ...      ...         ...                 ...  ...
8734      20972    20973        5940             28697.5   32
8735      20972    20973        5636             24253.3   18
8736      20972    20973        5160             12059.4   57
8737      20973    20974          40             10996.9   24
8738      20973    20974        2416   8219.720000000001   30
8739      20973    20974         240  12362.400000000001   60
8740      20973    20974        4950             11282.5   86
8741      20973    20974        4140             15090.7   15
8742      20973    20974        6416             12200.8   38
8743      20973    20974        2540             16354.7   83
8744      20973    20974        5840  11367.699999999999   57
8745      20974    21040          60             4380.66   62
8746      20974    21040        8536             13809.2   13
8747      20981    20982          50             1013.31   10
8748      20990    20991          40  18511.799999999996   59
8749      20996    20997          60             7339.15   82
8750      20998    20999          55  16094.699999999999   48
8751      20998    20999        2355             13417.6   48
8752      20999    21000          25             11290.9   84
8753      21005    21006          60             3374.98   30
8754      21011    21012          44             7745.53   74
8755      21014    21015          54             9924.27   47
8756      21025    21026          44  10613.300000000001   24
8757      21040    21041          50             19055.6   24
8758      21040    21041        6736             16807.5   78
8759      21040    21041        6040             5626.79   19
8760      21040    21041        6340  12721.599999999999   52
8761      21041    21042          36             370.424   26
8762      21042    21043          43  1854.2999999999997   88
8763      21043    21044          36             2110.86   38

[8764 rows x 5 columns]